# --- UI ---
streamlit
opencv-python
numpy
Pillow
psutil

# --- AI model computation ---
torch
torchvision
einops
omegaconf

# --- 3D mesh ---
trimesh
huggingface_hub

# --- SAM 2 library ---
git+https://github.com/facebookresearch/sam2.git

# --- TRELLIS library ---
imageio
rembg
xformers